/* Definerer grunnleggende fargetemaer som brukes i hele applikasjonen */
:root {
    --bs-primary: #ff85a2; /* Moderne rosa som primærfarge */
    --bs-info: #ff85a2; /* Justerer info-farge til rosa også */
}

/* Stil for form inputfelt når de er i fokus. Setter en rosa kant og skygge for å indikere fokus */
.form-control:focus {
    border-color: #ff85a2; /* Rosa kant på elementet i fokus */
    box-shadow: 0 0 0 .2rem rgba(255, 133, 162, .25); /* Rosa skygge rundt elementet */
}

/* Primær knapp stil. Setter bakgrunns- og kantfarge for normale tilstander og ved hover */
.btn-primary {
    background-color: #ff85a2; /* Rosa bakgrunnsfarge for primærknappene */
    border-color: #ff85a2; /* Rosa kantfarge som matcher bakgrunnen */
}
.btn-primary:hover {
    background-color: #ff6790; /* Mørkere rosa ved hovering for visuell feedback */
    border-color: #ff6790; /* Kantfarge som matcher den mørkere hover-bakgrunnen */
}

/* Fareknapp stil. Brukes for handlinger som sletting. Setter farger for både standard og hover tilstander */
.btn-danger {
    background-color: #ff4265; /* Rødrosa bakgrunnsfarge indikerer potensielt 'farlige' handlinger */
    border-color: #ff4265; /* Kantfarge som matcher bakgrunnen */
}
.btn-danger:hover {
    background-color: #ff2140; /* Enda mer intens rødrosa farge ved hovering for sterkere visuell feedback */
    border-color: #ff2140; /* Kantfarge som matcher den intensiverte hover-bakgrunnen */
}

/* Stil for feilmeldinger. Setter fargen på tekst som viser feilinformasjon ved validering eller annen feedback */
.error-message {
    color: #ff4265; /* Rødrosa farge gjør feilmeldingene tydelige og oppmerksomme */
}

/* Stil for overordnede container-elementer, gir top padding for å skape visuell avstand fra toppen av siden */
.container {
    padding-top: 20px; /* Legger til avstand fra toppen for å skape et ryddigere layout */
}
